:root {
    --primary-color: #1a365d; /* כחול עמוק */
    --accent-color: #c05621; /* כתום-זהב */
    --bg-color: #f7fafc;
    --card-bg: #ffffff;
    --text-color: #2d3748;
    --light-blue: #ebf8ff;
}

/* ------------------------------------- */
/* --- BODY ורקע --- */
/* ------------------------------------- */
body {
    font-family: 'Rubik', sans-serif;
    background-color: #2d3748; 
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('background.jpg');
    background-size: cov
